
.panel-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: var(--white);
  color: var(--black);
  padding: 14px 16px;
  font-size: 12px;
  line-height: 20px;
}
