
# npm
node_modules
node_modules.old

# built
/apps
/dist
/storybook-static
*.pcss.d.ts

# local config
/.env
/.npmrc
/local

# temporary
tmp
uglify-cache
cypress/videos

# tooling
/.vscode/*
!/.vscode/*.example.json
/coverage
