
.back-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  margin-left: 12px;

  .back-button {
    margin: 0;
    padding: 8px;
    border-radius: 100px;
    background: var(--white);
    
    &:hover {
      background: var(--grey-10);
    }

    &:active {
      background: var(--grey-20);
    }
  }

  .route-name {
    margin-left: 8px;
    /* padding-bottom: 4px; */
  }
}
