
.back-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  margin-left: 12px;

  .back-button {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 8px;
    border-radius: 100px;
    background: var(--white);

    &:hover {
      background: var(--grey-10);
    }

    &:active {
      background: var(--grey-20);
    }
  }

  .route-name {
    margin-left: 8px;
  }
}
