:root {
  --black: #0F0E0D;
  --grey-90: #272625;
  --grey-80: #3F3E3D;
  --grey-70: #575656;
  --grey-60: #6F6E6E;
  --grey-50: #878786;
  --grey-40: #9F9F9E;
  --grey-30: #B7B7B6;
  --grey-20: #CFCFCF;
  --grey-10: #E7E7E7;
  --grey-05: #F3F3F3;
  --grey-03: #F8F8F8;
  --white: #FFFFFF;

  --background: var(--black);
  --foreground: var(--white);
}
