
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url(./fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url(./fonts/Inter-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url(./fonts/Inter-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: url(./fonts/Inter-Black.ttf) format("truetype");
}
