
$directionMap: (
  max: 0px,
  min: 1px
);

$breakpointMap: (
  mobile: 480px,
  minitab: 599px,
  tablet: 768px,
  laptop: 1024px
);

@define-mixin breakpoint $name: mobile, $direction: max {
  @media only screen and ($(direction)-width: calc(mapGet($breakpointMap, $name) + mapGet($directionMap, $direction))) {
    @mixin-content;
  }
}
