
:root {
  --panel-padding: 24px;
  --panel-default-width: 216px;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: var(--panel-padding);
  min-width: var(--panel-default-width);
}
