
#monochromatic {
  margin: 16px 0 8px;
  cursor: pointer;
  
  input {
    margin-right: 4px;
  }
}

#custom-colors {
  button {
    background-color: var(--grey-80);
    color: var(--white);
    min-width: 3em;

    &:hover {
      background-color: var(--grey-70);
    }

    &:active {
      background-color: var(--grey-90);
    }
  }
}
