
#monochromatic {
  margin: 16px 0 8px;
  cursor: pointer;
  
  input {
    margin-right: 4px;
  }
}

#custom-colors {
  button {
    background-color: #2c2926;
    color: white;
    min-width: 3em;

    &:hover {
      background-color: #3b3733;
    }

    &:active {
      background-color: #1e1c1a;
    }
  }
}
