
.saved-palette-selector {
  background: var(--white);
  color: var(--black);

  .favorite-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    .favorite-text {
      flex: 1;
    }

    .delete-button {
      margin: -6px -8px;
    }
  }
}
