
.pattern-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .pattern-option {
    background: var(--white);
    color: var(--black);
    margin: 0;
    padding: 22px 0;
    flex-basis: 50%;

    &:hover {
      background: var(--grey-10);
    }

    &:active, &.selected {
      background: var(--grey-60);
      color: var(--white);
    }
  }
}
