
#sliders {
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--panel-padding) / 2);

  .content {
    padding: var(--panel-padding);
    padding-top: calc(var(--panel-padding) / 2);
  }
}
