
.success-message {
  font-size: 13px;
  font-weight: 700;
  color: rgb(62, 186, 108);
}

.error-message {
  font-size: 13px;
  font-weight: 700;
  color: rgb(228, 68, 43);
}

button {
    margin-top: 16px;
}
