
.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  font-size: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .checkbox-input {
    cursor: pointer;
    margin-right: 0.5rem;
  }
}
