
.sound-details {
  display: flex;
  flex-direction: column;
  /* height: 100px; */
  justify-content: space-between;
  padding: var(--panel-padding);

  h2 {
    margin: 0;
    padding: 0;
  }

  .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .name {
      font-weight: 500;
    }

    .value {
      font-weight: 700;
    }
  }
}
