
#sound-details {
  margin-top: 2em;
  display: flex;
  flex-direction: column;

  .detail {
    margin: 5px;

    .name {
      font-weight: 500;
    }

    .value {
      font-weight: 700;
    }
  }
}
