
#details-view {
  width: calc(100vw - 64px);
  height: calc(100vh - 64px);
  margin: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#spreader {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#info {
  display: block;
}
