
#shortcuts {
  display: flex;
  flex-direction: row;

  .icon-button {
    padding: 20px;
    --icon-color: var(--white);
    background: transparent;
    border: none;
    flex: 1;

    &:hover {
      --icon-color: #CFCFCF;
    }
  }
}
