
#shortcuts {
  display: flex;
  flex-direction: row;

  .icon-button {
    padding: 20px;
    --icon-color: var(--white);
    background: transparent;
    border: none;
    flex: 1;
    margin: 0;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
