
#home-row {
  display: flex;
  flex-direction: row;
  
  .home-row-button {
    background: var(--grey-80);
    flex-grow: 1;
    padding: 20px 0;
    border: none;
    margin: 0;

    svg {
      fill: var(--grey-40);
    }

    &.selected {
      background: var(--black);

      svg {
        fill: var(--white);
      }
    }
  }
}
