
.custom-pattern-selector {
  .color-pickers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .picker-row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin-bottom: 12px;
    }

    .picker {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .pattern-name {
    flex: 1;
    margin: 16px;
    margin-top: 0;
  }
}
